@model IEnumerable<WebApplication8.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm mới", "ThemDuLieu")
</p>

@using (Html.BeginForm())
{
    @Html.Label("Tim kiem ten")
    @Html.TextBox("tim")
    <input type="submit" value="Tim" />
}
@using (Html.BeginForm())
{
    @Html.Label("Tim kiem gia")
    @Html.TextBox("Gia")
    <input type="submit" value="Tim" />
}

<button class="btn btn-outline-info">
    @Html.ActionLink("Sap xep theo ten", "XemDanhSach", new { })
</button>
<button class="btn btn-outline-info">
    @Html.ActionLink("Sap xep theo gia", "XemDanhSach", new { })
</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Catalogy.CatalogyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vintage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Catalogy.CatalogyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vintage)
            </td>
            <td>
                @{
                    string path = "~/Images/" + item.Image;
                }
                <img src="@Url.Content(path)" width="300" height="300" alt="Anh" class="img-thumbnail" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.ActionLink("Sửa", "SuaDuLieu", new { id = item.ProductID }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Xóa", "XoaDuLieu", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>
